$warmInk: #120E05;
$decoCoin: #E6AD39;

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.imageCarousel {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  background: $warmInk;
}

.imageCarouselButtonLeft {
  @extend .noSelect;
  position: absolute;
  top: 152px;
  left: 15px;
  width: 72px;
  height: 32px;
  background: $warmInk;
  border-radius: 9px;
  z-index: 1;
  cursor: pointer;
}

.imageCarouselButtonRight {
  @extend .imageCarouselButtonLeft;
  left: initial;
  right: 15px;
}

.imageCarouselArrowLeft {
  position: absolute;
  top: 11px;
  left: 28px;
}

.imageCarouselArrowRight {
  @extend .imageCarouselArrowLeft;
  transform: rotate(-180deg);
}

.carouselImg {
  transition: opacity 300ms ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.fadedOut {
  opacity: 0;
  z-index: -1;
}
