$warmInk: #120E05;
$decoCoin: #E6AD39;

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.imageCarousel {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  background: $warmInk;
}

.imageCarouselButtonLeft {
  @extend .noSelect;
  position: absolute;
  top: 152px;
  left: 15px;
  width: 72px;
  height: 32px;
  background: $warmInk;
  border-radius: 9px;
  z-index: 1;
  cursor: pointer;
}

.imageCarouselButtonRight {
  @extend .imageCarouselButtonLeft;
  left: initial;
  right: 15px;
}

.imageCarouselArrowLeft {
  position: absolute;
  top: 11px;
  left: 28px;
}

.imageCarouselArrowRight {
  @extend .imageCarouselArrowLeft;
  transform: rotate(-180deg);
}

.ellipseButtons {
  border-radius: 9px;
  background: $warmInk;
  width: 144px;
  height: 36px;
  position: absolute;
  top: 576px;
  left: calc(50% - 72px);
  visibility: hidden;
  z-index: -1;
}

.ellipseButtonsInner {
  position: absolute;
  top: 9px;
  left: 46px;
}

.ellipseButton {
  border-radius: 50%;
  background: $decoCoin;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  display: inline-block;
  cursor: pointer;
}

.carouselImg {
  transition: opacity 500ms ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.fadedOut {
  opacity: 0;
  z-index: -1;
}

@media only screen and (min-width: 1080px) {
  .mobileButtons {
    visibility: hidden;
    z-index: -1;
  }
  .ellipseButtons {
    visibility: visible;
    z-index: 1;
  }
  .imageCarousel {
    height: 648px;
  }
}
