$warmInk: #120E05;
$decoCoin: #E6AD39;

.imageCarousel {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  background: $warmInk;
}

.imageCarouselButtonLeft {
  position: absolute;
  top: 152px;
  left: 15px;
  width: 72px;
  height: 32px;
  background: $warmInk;
  border-radius: 9px;
  z-index: 1;
  cursor: pointer;
}

.imageCarouselButtonRight {
  @extend .imageCarouselButtonLeft;
  left: initial;
  right: 15px;
}

.imageCarouselArrowLeft {
  position: absolute;
  top: 11px;
  left: 28px;
}

.imageCarouselArrowRight {
  @extend .imageCarouselArrowLeft;
  transform: rotate(-180deg);
}

.carouselImg {
  transition: opacity 300ms ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.fadedOut {
  opacity: 0;
  z-index: -1;
}
