$pink: #D1A7AC;

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Inter Bold";
}

body {
  margin: 0;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

* {
  touch-action: manipulation;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

::selection {
  color: white;
  background: $pink;
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
