$warmInk: #120E05;
$decoCoin: #E6AD39;

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway.ttf") format("truetype");
}

html {
  font-family: "Raleway";
}

body {
  margin: 0;
}

* {
  touch-action: manipulation;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

::selection {
  color: $decoCoin;
  background: $warmInk;
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
