$black: #120E05;
$gold: #E6AD39;

@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.header {
  position: relative;
  background: $black;
  width: 100%;
  height: 72px;
  text-align: center;
}

.logo {
  @extend .noSelect;
  margin-top: 22px;
}

.hamburgerIcon {
  position: absolute;
  top: 27px;
  right: 38px;
}

.body {

}

.imageCarousel {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.imageCarouselButtonLeft {
  position: absolute;
  top: 152px;
  left: 15px;
  width: 72px;
  height: 32px;
  background: $black;
  border-radius: 9px;
}

.imageCarouselButtonRight {
  @extend .imageCarouselButtonLeft;
  left: initial;
  right: 15px;
}

.imageCarouselArrowLeft {
  position: absolute;
  top: 11px;
  left: 28px;
}

.imageCarouselArrowRight {
  @extend .imageCarouselArrowLeft;
  transform: rotate(-180deg);
}

.carouselImg {
  width: 100%;
}

.aboutMe {
  margin: 32px 18px;
  width: 100%;
  margin: 0 auto;
  width: 378px;
  font-size: 18px;
  line-height: 32px;
}

.footer {

}
