$veryIvory: #FFFDFB;
$warmInk: #120E05;
$decoCoin: #E6AD39;

@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Extra Bold";
  src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.body {
  position: relative;
  margin-top: 72px;
  background: $veryIvory;
  padding-bottom: 1px;
}

.aboutMe {
  position: relative;
  margin: 0 auto;
  width: 91%;
  font-size: 18px;
  line-height: 32px;
  color: $warmInk;
  margin-top: 30px;
}

.scissorsDivider {
  margin-top: 11px;
  width: 71px;
  height: 25px;
  margin: 0 auto;
}

.scissorsContainerDesktop {
  visibility: hidden;
}

.scissorsIconLeft {
  float: left;
}

.scissorsIconRight {
  @extend .scissorsIconLeft;
  margin-left: 21px;
  transform: rotate(180deg);
}

.scissorsIconLeftDesktop {
  visibility: hidden;
  display: none;
}

.scissorsIconRightDesktop {
  @extend .scissorsIconLeftDesktop;
}

.scissorsIconLarge {
  float: right;
  margin-top: -70px;
  margin-right: 25px;
}

.scissorsIconLargeDesktop {
  @extend .scissorsIconLarge;
  display: none;
}

.lineDividerLeft {
  background: $warmInk;
  width: 314px;
  height: 1px;
  margin: 31px 0px;
}

.lineDividerRight {
  @extend .lineDividerLeft;
  position: relative;
  left: calc(100% - 314px);
}

.lineDividerLeftLower {
  @extend .lineDividerLeft;
  margin-top: 65px;
}

.lineDividerRightLower {
  @extend .lineDividerRight;
  margin-top: -14px;
  margin-bottom: 12px;
}

.largeText {
  @extend .aboutMe;
  font-family: "Raleway Extra Bold";
  font-size: 30px;
  color: $decoCoin;
  margin-bottom: 10px;
}

.smallText {
  @extend .aboutMe;
  margin-bottom: 32px;
}

.mediumText {
  @extend .aboutMe;
  margin-bottom: 30px;
}

.getInTouchButtonContainer {
  margin: 0 auto;
  width: 91%;
}

.getInTouchButton {
  @extend .noSelect;
  cursor: pointer;
  float: left;
}

.footer {
  position: relative;
  width: 100%;
  background: $warmInk;
}

.largeFooterText {
  @extend .largeText;
  white-space: nowrap;
  margin-top: 65px;
}

.footerText {
  @extend .aboutMe;
  color: $veryIvory;
  margin-top: initial;
}

.map {
  position: absolute;
  left: calc(50% - 189px);
  width: 378px;
  margin-top: 60px;
  padding-bottom: 180px;
  cursor: pointer;
}

$minimumApplyToDesktop: 985px;

// applies to in between mobile and desktop/tablets (portrait)
@media only screen and (min-width: 415px) and (max-width: 775px) {
  .scissorsIconLarge {
    margin-top: -40px;
  }
  .customerSectionLineBreak {
    display: none;
  }
}
// end of intermezzo

// mobile small (iPhone X)
@media only screen and (max-width: 375px) {
  .aboutMe, .getInTouchButtonContainer {
    width: 92%;
  }
  .scissorsIconLarge {
    margin-top: -50px;
    margin-right: 5px;
  }
  .map {
    width: 90%;
    position: initial;
    margin-left: 5%;
  }
}
// end of mobile small

// mobile very small (iPhone 5/SE)
@media only screen and (max-width: 320px) {
  .scissorsIconLarge {
    margin-top: -110px;
    margin-right: 0px;
  }
  .footerText {
    font-size: 16px;
    white-space: nowrap;
  }
  .map {
    margin-top: 30px;
  }
  .lineDividerLeft {
    width: 250px;
  }

  .lineDividerRight {
    left: calc(100% - 250px);
  }
}
// end of mobile very small

// applies to desktop
@media only screen and (min-width: $minimumApplyToDesktop) {
  .aboutMe {
    width: 966px;
    font-size: 24px;
    margin-top: 50px;
    overflow: hidden;
  }
  .aboutMeText {
    float: left;
    width: 778px;
    margin-right: 50px;
  }
  .sectionsContainer {
    width: 80%;
    max-width: 966px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .customerSection {
    float: left;
    width: 44%;
  }
  .customerSectionLineBreak {
    display: none;
  }
  .stylistSection {
    @extend .customerSection;
    margin-left: 11%;
    float: right;
  }
  .largeText {
    width: 75%;
    text-align: left;
    margin-left: 0px;
  }
  .largeText, .mediumText {
    margin-top: initial;
  }
  .mediumText, .smallText {
    font-size: 18px;
    margin-top: -7px;
    margin-bottom: 20px;
    width: 100%;
  }
  .smallText {
    margin-bottom: 35px;
  }
  .getInTouchButtonContainer {
    width: 720px;
  }
  .getInTouchButton {
    margin-left: -4px;
    margin-top: -7px;
  }
  .scissorsIconLarge, .scissorsDivider {
    visibility: hidden;
  }
  .scissorsIconLargeDesktop, .scissorsIconLeftDesktop {
    visibility: visible;
    display: initial;
  }
  .scissorsIconLeftDesktop {
    float: left;
    margin-right: 50px;
    margin-top: 80px;
    display: initial;
  }
  .scissorsIconRightDesktop {
    transform: rotate(180deg);
    margin: 80px 0;
  }
  .scissorsIconLargeDesktop {
    margin-top: -30px;
    margin-right: 180px;
  }
  .lineDividerLeft {
    width: 475px;
  }
  .lineDividerRight, .lineDividerLeftLower {
    visibility: hidden;
    margin: initial;
  }
  .lineDividerRightLower {
    visibility: visible;
    margin-top: -50px;
    margin-bottom: 85px;
    width: 475px;
    left: calc(100% - 475px);
  }
  .footerInner {
    width: 75%;
    max-width: 966px;
    margin: 110px auto;
    height: 285px;
  }
  .footerTextContainer {
    width: 45%;
    float: left;
    margin-right: 10%;
  }
  .largeFooterText {
    width: 100%;
    margin-bottom: 2px;
  }
  .footerText {
    width: 100%;
    margin-top: 0px;
    font-size: 18px;
  }
  .map {
    width: 45%;
    position: initial;
    margin: initial;
    float: right;
  }
}
// end of desktop

// applies to iMac and up
@media only screen and (min-width: 1280px) {
  
}
// end of iMac

// applies to Waldo desktop spec in Figma
@media only screen and (min-width: 1440px) {
  
}
// end of Waldo spec

// applies to largest desktops
@media only screen and (min-width: 1550px) {
  
}
// end of largest desktop
