$warmInk: #120E05;
$decoCoin: #E6AD39;

@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.body {
  margin-top: 72px;
  background: white;
  padding-bottom: 1px;
}

.imageCarousel {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.imageCarouselButtonLeft {
  position: absolute;
  top: 152px;
  left: 15px;
  width: 72px;
  height: 32px;
  background: $warmInk;
  border-radius: 9px;
}

.imageCarouselButtonRight {
  @extend .imageCarouselButtonLeft;
  left: initial;
  right: 15px;
}

.imageCarouselArrowLeft {
  position: absolute;
  top: 11px;
  left: 28px;
}

.imageCarouselArrowRight {
  @extend .imageCarouselArrowLeft;
  transform: rotate(-180deg);
}

.carouselImg {
  width: 100%;
}

.aboutMe {
  margin: 0 auto;
  width: 378px;
  font-size: 18px;
  line-height: 32px;
}

.scissorsDivider {
  margin-top: 11px;
  width: 71px;
  height: 25px;
  margin: 0 auto;
}

.scissorsIconLeft {
  float: left;
}

.scissorsIconRight {
  @extend .scissorsIconLeft;
  margin-left: 21px;
  transform: rotate(180deg);
}

.scissorsIconLarge {
  position: relative;
  top: -70px;
  right: 42px;
  display: block;
  float: right;
}

.lineDividerLeft {
  background: $warmInk;
  width: 314px;
  height: 1px;
  margin: 31px 0px;
}

.lineDividerRight {
  @extend .lineDividerLeft;
  position: relative;
  left: calc(100% - 314px);
}

.lineDividerLeftLower {
  @extend .lineDividerLeft;
  margin-top: 65px;
}

.lineDividerRightLower {
  @extend .lineDividerRight;
  margin-top: -14px;
  margin-bottom: 12px;
}

.largeText {
  @extend .aboutMe;
  font-family: "Raleway Bold";
  font-size: 30px;
  color: $decoCoin;
  margin-bottom: 10px;
}

.smallText {
  @extend .aboutMe;
  margin-bottom: 32px;
}

.mediumText {
  @extend .aboutMe;
  margin-bottom: 30px;
}

.getInTouch {
  margin-left: 18px;
}

.footer {
  position: relative;
  width: 100%;
  background: $warmInk;
  padding-bottom: 50px;
}

.largeFooterText {
  @extend .largeText;
  white-space: nowrap;
  margin-top: 65px;
}

.footerText {
  @extend .aboutMe;
  color: white;
}

.map {
  position: absolute;
  left: calc(50% - 189px);
  width: 378px;
  margin-top: 60px;
  margin-bottom: 50px;
  cursor: pointer;
}
