$warmInk: #120E05;
$decoCoin: #E6AD39;

@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  background: $warmInk;
  width: 100%;
  height: 72px;
  text-align: center;
  z-index: 2;
}

.logo {
  @extend .noSelect;
  margin-top: 22px;
}

.navbarButton {
  position: absolute;
  top: 27px;
  right: 38px;
}

.navbarInner {
  transition: opacity 300ms ease-in-out;
  width: 100%;
  height: 100%;
}

.fadedOut {
  opacity: 0;
  z-index: -1;
}

.menu {
}

.menuButton {
  position: relative;
  width: 100%;
  height: 71px;
  border-top: solid 1px $decoCoin;
}

.menuButtonText {
  @extend .noSelect;
  color: $decoCoin;
  position: absolute;
  top: 23px;
  right: 38px;
  font-size: 22px;
  letter-spacing: 0.1em;
}

.menuBackdrop {
  transition: height 300ms ease-in-out;
  width: 100%;
  height: 0px;
  background: $warmInk;
  position: absolute;
  top: 72px;
  z-index: -1;
}

.expanded {
  height: 144px;
}
