$warmInk: #120E05;
$decoCoin: #E6AD39;

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway.ttf") format("truetype");
}


@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  background: $warmInk;
  width: 100vw;
  height: 72px;
  text-align: center;
  z-index: 2;
}

.logo {
  @extend .noSelect;
  margin-top: 22px;
}

.navbarButton {
  position: absolute;
  top: 27px;
  right: 38px;
}

.navbarButtonTouchTarget {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100%;
  z-index: 2;
}

.navbarInner {
  transition: opacity 300ms ease-in-out;
  width: 100vw;
  height: 100%;
}

.fadedOut {
  opacity: 0;
  z-index: -1;
}

.menu {
  margin-top: 17px;
}

.menuButton {
  position: relative;
  width: 100%;
  height: 71px;
  border-top: solid 1px $decoCoin;
}

.menuButtonText {
  @extend .noSelect;
  color: $decoCoin;
  position: absolute;
  top: 23px;
  right: 38px;
  font-size: 22px;
  letter-spacing: 0.1em;
}

.menuBackdrop {
  transition: height 300ms ease-in-out;
  width: 100%;
  height: 0px;
  background: $warmInk;
  position: absolute;
  top: 72px;
  z-index: -1;
}

.expanded {
  height: 144px;
}

.desktopName {
  @extend .noSelect;
  color: $decoCoin;
  font-size: 22px;
  letter-spacing: 0.1em;
  font-family: "Raleway Bold";
  margin-top: 23px;
  cursor: pointer;
}

.desktopInfoButton {
  @extend .desktopName;
  font-family: "Raleway";
  position: absolute;
  top: 23px;
  right: 212px;
  margin-top: 0;
}

.desktopContactButton {
  @extend .desktopInfoButton;
  right: 88px;
}

.innerMobile {
  visibility: visible;
}

.innerDesktop {
  visibility: hidden;
  z-index: -1;
  position: absolute;
  top: -20vh;
}

@media only screen and (min-width: 750px) {
  .innerMobile {
    visibility: hidden;
    z-index: -1;
  }
  .innerDesktop {
    visibility: visible;
    position: initial;
    top: initial;
  }
}

// responsive design for tablets
@media only screen and (min-width: 750px) and (max-width: 1080px) {
  .desktopName {
    font-size: 19px;
    margin-top: 25px;
  }
  .desktopInfoButton {
    right: 170px;
    margin-top: 0;
    top: 25px;
  }

  .desktopContactButton {
    right: 60px;
  }
}
// end of responsive design
